<section>
  <button (click)="selectAudio()" class="brand-button" type="button">Audio</button>
  <button (click)="selectCadeiras()" class="brand-button" type="button">Cadeiras</button>
  <button (click)="selectCelular()" class="brand-button" type="button">Celular</button>
  <button (click)="selectComputadores()" class="brand-button" type="button">Computadores</button>
  <button (click)="selectEletrodomesticos()" class="brand-button" type="button">Eletrodomesticos</button>
  <button (click)="selectGames()" class="brand-button" type="button">Games</button>
  <button (click)="selectHardware()" class="brand-button" type="button">Hardware</button>
  <button (click)="selectPerifericos()" class="brand-button" type="button">Perifericos</button>
  <button (click)="selectProjetores()" class="brand-button" type="button">Projetores</button>
  <button (click)="selectTV()" class="brand-button" type="button">TV</button>
</section>
